<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="https://debhorng.github.io">debhorng.github.io</a></li>
			<li><a href="https://www.medphysics.wisc.edu/~dhorng/">UW-Madison</a></li>
			<li><a href="https://scholar.google.com/citations?user=VfTKuhIAAAAJ&sortby=pubdate">Google Scholar</a></li>
			<li><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=%28Horng%20DE[Author]%29%20OR%20Horng%20D[Author]">PubMed</a></li>
			<li><a href="https://www.linkedin.com/in/deb-horng">LinkedIn</a></li>
			</ul>
		</footer>
		</body>
	</html>
